.modal {
  display: flex;
  justify-content: center;

  .Modal_background {
    .Table_wrapper {
      .table {
        vertical-align: middle;
        width: 50%;
        border-width: 0 !important;
        border-color: #2b2b40;
        border-collapse: collapse !important;
        .thead {
          vertical-align: bottom;
          border-color: inherit;
          border-style: solid;
          border-width: 0;

          .thead_row {
            border-color: inherit;
            border-width: inherit;
            border-style: inherit;
            height: inherit;
            min-height: inherit;
            background-color: #323248 !important;
            color: #92929f !important;

            .thead_cels {
              padding-top: 1rem;
              padding-bottom: 1rem;
              padding-left: 1rem !important;
            }
          }
        }
      }
      .tbody {
        .table_body_row {
          .table_body_d {
            padding-left: 1rem !important;
            font-size: 0.9rem;
            .tbodyWrapper {
              align-items: center;
              .tbody_imgWrapper {
                width: unset !important;
                height: unset !important;
                img {
                  width: 50px !important;
                  height: 50px !important;
                  border-radius: unset !important;
                }
              }
            }
            .tbody_fWrapper {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
            }
          }
        }
        .center {
          text-align: center;
        }
        .direction {
          direction: ltr;
        }
      }
    }
  }
}
