@import url("https://rsms.me/inter/inter.css");

#csdd-container {
  display: flex;
  width: 100%;
  .select-search {
    width: 100%;
  }
  .select-search__value {
    width: 100%;
  }
  .radioWrapper .radio-label {
    padding: 0.25rem;
  }
  .base-on {
    .select-search__select {
      background-color: red !important;
    }
    input {
    }
  }
  .main {
    input {
      width: 100%;
      color: #ff8888 !important;
    }
  }
}
.base {
  width: 7vw;
}
.base__value {
  input {
    width: 100%;
    cursor: pointer !important;
    background-color: #151521;
    border: none;
    padding: 0.5rem;

    color: white !important;
  }
}
.base__option {
  background-color: #1e1e1e !important;
  width: 100%;
  border: none;
  color: white;
  font-size: 0.75rem;
  padding: 0.5rem;
  font-family: iranSans !important;
}

.main {
  width: 100%;
}
.main__value {
  input {
    cursor: pointer !important;
    background-color: #151521;
    border: none;
    padding: 0.5rem;
    color: black !important;
  }
}
.main__options {
  margin-top: 4px;
  height: fit-content;
  justify-content: center;
  align-items: center;
}
.main__option {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: right;
  color: white;
  font-size: 0.75rem;
  padding: 0.5rem;
  font-family: iranSans !important;
}
