.radioWrapper {
	display: flex;
	margin-top: 1rem;
	flex-wrap: nowrap;
	gap: 10px;
	input[type="radio"] {
		display: none;
	}
	.radio-label {
		position: relative;
		background-color: #171723;
		border-radius: 5px;
		padding: 1rem;
		display: flex;
		align-items: center;
		white-space: nowrap;
		color: #676769;
		justify-content: center;
		text-align: center;
		cursor: pointer;
	}

	input[type="radio"]:checked + .radio-label {
		background-color: #3699ff;
		color: white;
	}

	.radioButton-custom {
		flex-basis: 0;
		flex-grow: 1;
	}
}
